<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title></title>

    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/Content/bigfont")

</head>
<body>


    @RenderBody()

    @Scripts.Render("~/bundles/ng")
    @Scripts.Render("~/bundles/ngRoute")
    @Scripts.Render("~/bundles/ngSanitize")
    @Scripts.Render("~/bundles/ngUiBootstrap")
    @Scripts.Render("~/bundles/ngUiBootstrapTpls")

    @Scripts.Render("~/bundles/polyfills")
    @Scripts.Render("~/bundles/cakelove")
    @RenderSection("scripts", required: false)

</body>
</html>
