<!DOCTYPE html>
<html ng-app="cakeLoveApp">
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title></title>

    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/Content/bigfont")

</head>
<body>


    @RenderBody()


    @Scripts.Render("~/bundles/ng")
    @Scripts.Render("~/bundles/ngRoute")
    @Scripts.Render("~/bundles/bigfont")
    @RenderSection("scripts", required: false)

</body>
</html>
